.table-container{
    width: 100%;
    background-color: white;
}

.table-header{
    display: flex;
    align-items: center;
    box-shadow: #00000014 0px 4px 12px;
    justify-content: space-evenly;
    height: 45px;
    font-weight: bold;
    opacity: 0.6;
}

.donations-table-header{
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  height: 45px;
  font-weight: bold;
  opacity: 0.6;
  gap: 40px;
  padding-left: 20px;
}

.table-header-options{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.filter-options{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: fit-content;
}
.table-filter{
  padding: 2px 5px;
  border-radius: 2px;
  background-color: rgb(236, 236, 236);
  border: solid 1px grey;
}
.active-filter{
  border: none;
  background-color: green;
  color: white;
}
.table-row-data{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:10%;
}
.table-row-data-slno{
  width: 20px;
  padding: 5px
}
.table-column-title-slno{
  width: 20px;
}
.table-row-data-block{
  width: 150px;
  padding: 10px;
  align-items: flex-start;
}
.donating-food-item-name{
  font-weight: bold;
  color: black;
}
.donating-food-item-quantity{
  font-weight: bolder;
  font-size: 16px;
}
.donating-food-item-category{
  font-size: 14px;
  opacity: 0.7;
}
.donated-by{
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap:5px;
  justify-content: flex-start;
}
.donation-created-date{
  font-size: 14px;
  opacity: 0.7;
}

.accept-donation-btn{
  background-color: #0074d9;
  color: white;
  border-radius: 3px;
  padding:4px 15px;
  width: fit-content;
}

.cancel-donation-btn{
  background-color: red;
  color: white;
  border-radius: 3px;
  padding:4px 15px;
  width: fit-content;
}

.accept-donation-btn:hover{
  color: #0074d9;
  background-color: white;
  border: 1px solid #0074d9;
}

.btn-inactive{
  opacity: 0.4;
}
.row-action{
   display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.actions-inactive{
  opacity: 0.3;
}
.table-column-title{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 10%;
}

.donations-table-column-title{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 160px;
}
.collections-table-row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid #ccc; /* Add a bottom border */
    height:80px;
    gap: 30px;
}

.donations-table-row{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc; /* Add a bottom border */
    height:80px;
    gap: 40px;
    color:gray;
}

.table-row-data-with-actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table-body-content{
    min-height: 250px;
    height: 150px;
    overflow-y: auto;
  /* If you want to hide the horizontal scrollbar (if any) */
  overflow-x: hidden;
  /* Add padding to avoid content getting cut off by the scrollbar */
  padding-right: 5px;
}
.inventory-table-body-content{
  min-height: 330px;
  height: 330px;
  overflow-y: auto;
  /* If you want to hide the horizontal scrollbar (if any) */
  overflow-x: hidden;
  /* Add padding to avoid content getting cut off by the scrollbar */
  padding-right: 5px;
}

.your-donation-table-body-content{
  min-height: 100px;
  height: 100px;
  overflow-y: auto;
/* If you want to hide the horizontal scrollbar (if any) */
overflow-x: hidden;
/* Add padding to avoid content getting cut off by the scrollbar */
padding-right: 5px;
}

.consume-primary-btn{
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  border-radius: 2px;
  padding:3px 7px;
}
.consume-primary-btn:hover{
  background-color: white;
  border: green solid 2px;
  color: black;
}

.inventory-action-btns{
  border-radius: 50%;
  padding: 4px;
  color: white;
}

.inventory-action-btns:hover{
  color: black;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border: 1px solid black;
}
.consume-primary-btn-disabled{
  background-color: white;
  border: grey solid 1px;
  padding: 2px;
  color: grey;
}
.collections-table-row-inactive{
    opacity: 0.5;
    color: grey;
}

.del-key{
  background-color: black;
}

.edit-key{
  background-color: orange;
}

.donate-key{
  background-color: green;
}


  .active-info-banner{
    background-color: #ddffdd!important;
    color: black;
    padding: 2px 10px;
    font-size: 14px;
    border-radius: 3px;
  }

  .expired-info-banner{
    background-color: #d9d9d9!important;
    font-size: 14px;
    color: black;
    padding: 2px 10px;
    border-radius: 3px;

  }

  .centralise-content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60PX;
  }

  .suggestions-list-big{
    position: absolute;
    width: 35%;
    max-height: 250px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;    margin: 0;
    margin-left: 60px;
    z-index: 999;
  }

  .food-info-table-row{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:80px
  }

  .search-box-custom-width{
    width: 80%;
    margin-left: 50px;
  }